
/* font work sans  */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans&family=Poppins&family=Work+Sans:wght@400;500;600;700&display=swap');


/* :default styles start */


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.big-title{
    color: #131313;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
}

.min-title{
    color: #131313;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.description-style{
    color:#727272;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin: 24px 0px;
}

.btn-style{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    border: none;
    padding: 15px 15px;
    cursor: pointer;
}

/* :default style end  */

/* header style  */

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 130px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu > ul{
    display: flex;
}
.nav-menu > ul > li{
    margin-left: 50px;
    
}
.nav-menu > ul > li > a{
    color:#424242;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px; /* 144.444% */ 
}

.banner-title{
    color: #131313;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
}

.banner-content-img{
    text-align: center;
    margin-top: 70px;
}



.banner-img{
    max-width: 100%;
    margin-top: 24px;
}

/* team section style  */

.team-container{
    margin: 85px 150px;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.team-people{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    
}

.team-people,.team-content{
    width: calc((100% - 4rem)/2);
}

.team-people .people img{
    max-width: 100%;
}

.team-content h2{
    color:#727272;
    font-size: 30px;
    font-weight: 500;
}
.off-our{
    color: #131313;
    font-weight: 700;
}

.Features{
    color: #FF900E;
}




/* full website media quary */

/* mobile device */
@media screen and (max-width:640px) {

    /* header responsive */

    header{
        padding: 20px 25px;
    }
    nav{
        flex-direction: column;
        gap: 15px;
    }

    .nav-menu > ul {
        transform: translateX(-24px);
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }


    /* team section responsive */

    .team-container{
        flex-direction: column;
        margin: 0px;
        margin-top: 30px;
        width: 100%;
    }
    .team-container >div{
        width: 90%;
    }
    
     
}

/* tablet device */
@media screen and (min-width:641px) and (max-width:1024px) {

    /* header responsive */
    
    header{
        padding: 25px 40px;
    }
    nav{
        flex-direction: column;
        gap: 30px;
    }

    .nav-menu > ul {
        transform: translateX(-24px);
        text-align: center;
        gap: 15px;
    }

    /* team section desgin */

    .team-container{
        flex-direction: column;
        margin: 20px 50px;
    }

    .team-container > div{
        width:90%;
    }

    .people img{
        width: 100%;
    }
}


